<configuration>
  <system.web>
    <!-- Other configuration settings -->
  </system.web>
  
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <rewrite>
      <rules>
        <rule name="React Routers" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <staticContent> 
      <mimeMap fileExtension=".webp" mimeType="image/webp" /> 
    </staticContent>
  </system.webServer>
  
  <system.web>
    <customErrors mode="Off" />
  </system.web>
</configuration>
