.personal-appointment{
    border-bottom: 3.5px solid rgba(118, 87, 225, 1);
    width: 10rem;
    /* margin-right: 34rem; */
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: .9rem;
    font-size: 18px !important;
    z-index: 1000;
    text-align: left;
    font-weight: 600;
}

.headings-overview {
    font-size: 20px !important;
    text-align: left;
    font-weight: 600;
}

.appointment-doctor .tab {
    font-size: 14px;
    white-space: nowrap;
    padding: 0.3rem 0.7rem;
    /* width: 6rem; */
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    border-radius: 5px;
  }
  .text_section {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    background-color: #F4F1FF;
    white-space: nowrap;
    color: #2c2c2c;
    border-bottom: 2px solid var(--primary) !important;
    font-weight: 600;
  }

  .appointment_onhovers:hover {
    background-color: #FCF9FF;
    cursor: pointer;
  }

  .admin-custom-table td {
    width: 200px !important;
    white-space: nowrap !important;
    vertical-align: middle;
    table-layout: fixed;
    font-size: 13px !important;
    border-bottom: 2px solid #f5f6f7 !important;
}
.doctor-appointment {
  border-bottom: 3.5px solid rgba(118, 87, 225, 1);
  width: 10rem;
  margin-right: 34rem;
  position: sticky;
  top: 0;
  background-color: white;
  padding-bottom: 0.9rem;
  z-index: 1000;
  text-align: left;
  font-weight: 400;
}
.appointment-doctor .table-pagination{
position:absolute;
bottom:10px;
right:2rem

}

.appointment-doctor  .table-pagination button {
  background-color: #B9A9F3 !important;
}
.appointment-doctor  .table-pagination .nextBtn {
  background-color: var(--primary) !important;
}
.appointment-doctor .table-pagination input {
  border: 2px solid var(--primary) !important;
}
