.container {
    height: 100vh;
    box-sizing: border-box;
    padding: 1.7rem 3rem;
    background-color: #F8FAFF;
}

.header {
    display: flex;
    justify-content: flex-start;
    font-family: 'Jaldi', sans-serif;
    font-size: 1.05rem;
    font-style: normal;
    color: #000;
    font-weight: 600;
}

.graphContainer {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding-bottom: 1rem;
}

.graphBox {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: .3rem .6rem;
}

.graphHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #000;
    font-family: "Jaldi", sans-serif;
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}