.profileImgStudent {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    position: relative !important;
    gap: 5px;
    align-items: center;
    /* max-height: fit-content !important; */
    /* justify-content: space-between; */
    /* flex-grow: 0 !important; */
    height: 30% !important;
    /* justify-content: center; */
}


.profileImgStudent>span:nth-child(2) {
    color: #424045;
    font-size: 16px;
    font-weight: 600;
    /* border: 1px solid black; */
}

.profileImgStudent>span:nth-child(3) {
    color: #424045;
    font-size: 14px;
    word-break: break-word;
    text-align: center;
    /* border: 1px solid black; */
}

.profileImgStudent>div:nth-child(1) {
    position: relative !important;
    height: 64%;
    width: 33%;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    /* padding: 10px; */
}

.profileImgStudent>div:nth-child(1) img {
    width: 100%;
    /* Make the image fill the container */
    height: 100%;
    object-fit: cover;
}



.profileDetailsStudent {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0px 8px; */
    gap: 8px;
    /* padding-top: 20px; */
}

.ProfileDetailsDiv {
    /* border: 1px solid black; */
    display: flex;
    gap: 5px;
    padding: 6px;
    padding-left: 15px;
}

.ProfileDetailsDiv>span:nth-child(1) {
    /* border: 1px solid black; */
    color: #424045;
    font-size: 13px;
    font-weight: 600;
    min-width: 38%;
    max-width: 38%;
}

.ProfileDetailsDiv>span:nth-child(2) {
    /* border: 1px solid black; */
    color: #6D6B70;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    width: 100%;
}

.ProfileDetailsDiv>div:nth-child(2) {
    /* border: 1px solid black; */
    color: #6D6B70;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    width: 100%;
}

.ProfileLogoutButton {
    display: flex;
    /* border: 1px solid; */
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.ProfileLogoutButton button {
    display: flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #654E8A;
    color: #ECECEB;
    font-size: 15px;
    font-weight: 500;
    border: none !important;
}

.ProfileDetailsDiv button {
    display: flex;
    padding: 2px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #654E8A;
    color: #ECECEB;
    font-size: 12px;
    font-weight: 500;
    border: none !important;
}

.uploadImgProfile {
    /* border: 1px solid; */
    position: absolute;
    top: 43%;
    right: 33%;
    border-radius: 50%;
    background-color: white !important;
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1.6px rgba(0, 0, 0, 0.07);
}