.course-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  text-decoration: none;
}
.course-card-header {
  background: linear-gradient(to right, #060a87, #4f52b2);
  padding: 12px 0 7px;
  align-items: center;
}
.course-title {
  margin-left: 30%;
}
.course-title {
  padding: 0.25rem 0;
  line-height: 1.2;
}
.course-name {
  font-size: 16px;
  width: 8.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.course-field {
  font-size: 10px;
}
.course-title p {
  margin: 0;
}
.course-icon {
  margin-left: 5%;
  bottom: -25%;
  border: 1px solid #e2e2e2;
  background: #ffffff;
}
.course-duration {
  right: -1%;
  padding: 1% 3%;
  background-color: #ffe8ac;
  border-radius: 8px 0 0 8px;
  color: #2b2b2b;
  text-decoration: none;
  font-weight: 600;
}
.course-card-details {
  padding: 2rem 2.5rem;
}
.details-head {
  color: #717171;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-text {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}
.progress {
  margin-top: 5px;
  height: 5px;
}
.coursed-card-progres-bar-green {
  background: linear-gradient(to right, #258535, #18b531);
}
.coursed-card-progres-bar-due {
  background: linear-gradient(to right, #ad0202, #fc3659);
}
.progress-due-text {
  color: #c70000;
}
@media screen and (min-width: 1442px) {
  .course-icon {
    bottom: -50%;
  }
}
@media screen and (max-width: 1440px) {
  .course-card-details {
    padding: 1rem 1.5rem !important;
  }
  .course-icon {
    padding: 1rem !important;
  }
  .course-title {
    margin-left: 30%;
  }
  .course-duration {
    margin-bottom: 10px !important;
  }
  .details-text {
    font-size: 12px;
  }
}
@media screen and (max-width: 1025px) {
  .course-title {
    margin-left: 35%;
  }
}
@media screen and (max-width: 320px) {
  .course-title {
    margin-left: 30%;
  }
}
