.accordion-button:not(.collapsed) {
  color: black !important;
  font-weight: 600;
  background-color: unset !important;
  box-shadow: unset !important;
  border-bottom: 1px solid #FFE2E2;
}
.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: none !important;
}
.accordion-button {
  font-weight: 600;
  padding: 12px 15px !important;
}

.form-control:hover {
  border:1px solid #00C897 !important;
  /* color: white; */
}

.form-control {
  border: .5px solid #eee !important;
  /* border: none; */
  border-radius: 4px;
}

::placeholder {
  color: #C3C3C3 !important;
  font-size: 15px;
}

.submitBtn {
  width: 90px;
  cursor: pointer;
  display: block;
  margin: 10px 0 0 auto !important;
}
.submit_icon{
  right: 2rem;
  top: 5rem;
  position: absolute;
}
.save-button{
  font-size: 14px;
    background-color: rgba(0, 200, 151, 1);
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    border:none;
}
.exportBtn {
  display: block;
  cursor: pointer;
  width: 140px;
  margin: 1.2rem auto .5rem;
  transition: transform 0.3s;
}

.exportBtn:hover {
  transform: scale(1.1);
}
.public-DraftStyleDefault-ltr{
  margin-left: 10px !important;
}
.direction-right{
  direction: rtl;
}
.navbar {
  padding: 5px !important;
}
.ck.ck-editor__main>.ck-editor__editable, .docs-edit-wrapper{
  height: 410px;
}
.docs-edit-editor{
  overflow: auto !important;
  border: 1px solid #F1F1F1;
  border-top: unset !important;
  padding: 0px 5px;
}
/* /* .RichTextEditor .RichTextEditor__editor___1QqIU {
  height: 400px;
  overflow: auto;
}

.DraftEditor-editorContainer {
  overflow: hidden !important;
} */


.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline{
  height: 58vh;
}

.pdfstyle{
  text-decoration: none !important;
}