.courseCard{
    height: 14rem;
    width: 17.5rem;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    border-radius: 6px;
    text-decoration: none !important;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.courseCard:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.courseCardImg{
    height: 75%;
    border-radius: 6px;
}

.CourseName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
}
.CourseName .coursename{
    font-weight: 600;
    width: 40%;
    font-size: 12px;
    text-align: start;
    /* border:1px solid red; */
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 20px;
}
.CourseName .courseDept{
    /* font-weight: 600; */
    /* width: 50%; */
    font-size: 12px;
    text-align: end;
    /* border:1px solid green; */
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 20px;
}

/* .CourseName  .progressbar{
    font-weight: 600;
    width: 50%;
    text-align: end;
    font-size: 13px;
} */
.complexity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.complexity .begineer{
 width: 50%;
 font-size: 12px;
 text-align: start;

}

.complexity .coursename{
    text-align: end;
    font-size: 12px;
}


.courseCard .CircularProgressbar {
    width: 10%;
    vertical-align: middle;
}
.CircularProgressbar .CircularProgressbar-path {
    stroke: #F49159 !important;
}

.courseCard .CircularProgressbar .CircularProgressbar-text {
    fill: black;
    font-weight: 700;
    font-size: 25px;
    text-anchor: middle;
    dominant-baseline: middle;
}