.adminroleContainer {
  padding: 0.75rem 2.5rem;
}
.adminroleHeadContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adminroleHead {
  font-size: 18px;
  font-weight: 600;
}
.adminrolePageTitle {
  color: #242424;
  font-size: 16px;
  font-weight: 500;
}
.adminroleTotalCount {
  color: #424242;
  font-weight: 500;
}
/* .adminCoursesList {
  min-height: fit-content;
  max-height: 60vh;
} */
.searchContainer-adminrole .adminrole-modal-row {
  display: flex;
  column-gap: 1rem;
}
.action-column {
  display: flex;
  column-gap: 1rem;
}
.action-icon {
  height: 16px;
  cursor: pointer;
}
.adminrolelist-container {
  height: 54vh;
  overflow-y: scroll;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .searchContainer {
    width: 28%;
  }
  .adminroleListSearch::placeholder {
    font-size: 10px;
  }
}
@media screen and (min-width: 427px) and (max-width: 998px) {
  .searchContainer {
    width: 38%;
  }
  .adminroleListSearch::placeholder {
    font-size: 10px;
  }
}
@media screen and (max-width: 428px) {
  .adminroleContainer {
    padding: 0.75rem 1.5rem;
  }
  .adminroleHeadContainer {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.75rem;
  }
  .adminrole-search-pagination-row {
    flex-direction: column;
  }
  .adminrole-pagination {
    padding: 1rem 0;
  }
  .adminrole-head-row {
    flex-direction: column;
  }
  .adminroleHead {
    align-self: flex-start;
  }
  .adminrole-modal-row {
    align-self: flex-end;
    padding-top: 10px;
  }
}
