.w-50p {
    width: 50%;
}

.w-30p {
    width: 30% !important;
}

.mw-30px {
    min-width: 30px;
}

.mw-fit {
    width: fit-content !important;
}

.mb-adminDashboardCards {
    margin-bottom: 1.5rem;
}

.columnGap-10 {
    column-gap: 10px;
}

.rowGap-10 {
    row-gap: 10px;
}

.barHeight-7 {
    height: 7px;
}

.adminDashboardGeneralText {
    font-size: 14px;
}

.data-analytics-page-loader-div {
  margin: 0px;
  display: block;
  padding: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 74vh;
  z-index: 30001;
}

.data-analytics-page-loader {
  position: absolute;
  top: 45%;
  left: 45%;
  color: #e6e6e6;
}

.dashboardContainer {
    padding: 0.5rem 2.5rem;
    row-gap: 1.5rem;
    min-height: 74vh;
}

.kpiCardContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
}

.resourcesDataContainerTitle {
    font-size: 18px;
    font-weight: 600;
}

.resourceStatisticsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.workLocationHeader {
    display: flex;
    justify-items: center;
    column-gap: 10px;
}

.workLocationLegend {
    display: flex;
    justify-items: center;
    column-gap: 20px;
}

.resourcesManagerName {
    font-size: 16px;
    font-weight: 600;
    color: #616161;
}

.resourcesCountHead {
    font-size: 14px;
    color: #616161;
}

.billableBar,
.onCampusBar {
    background-color: #05CD9A;
}

.nonBillableBar,
.COEBar {
    background-color: #F54102;
}

.diceyBar {
    background-color: #FFFA79;
}

.FTEBullet,
.billableResourceBar {
    background-color: #6AAEFF;
}

.fullyUtilizationBar,
.referralBar {
    background-color: #019DF5;
}

.internsBullet,
.nonBillableResourceBar {
    background-color: #EE8D47;
}

.onPIPBar,
.offCampusBar {
    background-color: #F5BA01;
}

.onBenchBar,
.summerInternshipBar {
    background-color: #4E4CAC;
}

.traineesBullet {
    background-color: #D977FC;
}

.projectDeployableBar {
    background-color: #FF34F7;
}

.resorsesBarLegendTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resorsesBarLegendTitle {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.locationDot {
    border-radius: 50%;
    padding: 5px;
}

.locationIcon {
    width: 22px;
}

.legentTileDot {
    border-radius: 50%;
}

.legentTileName,
.resorsesBarLegendValue {
    font-size: 12px;
    color: #616161;
    white-space: nowrap;
}

.resorsesBarLegendValue {
    font-weight: 600;
}

.resorsesBarLegendsContainer {
    row-gap: 2px;
}

@media screen and (min-width: 1600px) {
    .AdminDashboardKpiCard {
        height: 200px;
    }

    .legentTileName {
        font-size: 14px;
    }

    .adminDashboardGeneralText {
        font-size: 16px;
    }

    .resourcesManagerName {
        font-size: 22px;
    }

    .resourcesCountHead {
        font-size: 20px;
    }

    .resorsesBarLegendValue {
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1150px) {
    .kpiCardContainer {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .searchContainer {
        align-self: flex-start;
        width: 70% !important;
    }

    .resourceStatisticsContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .kpiCardContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .resourceStatisticsContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .kpiCardContainer {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .resorsesBarLegendsContainer {
        justify-content: space-between;
    }

    .resourceStatisticsContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .kpiCardContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .dashboardContainer {
        padding: 0.75rem 1rem;
    }

    .adminDashboardGeneralText {
        font-size: 12px;
    }
}