.manager-feedback-modalbody input::placeholder,
.manager-feedback-modalbody textarea::placeholder {
  font-size: 11px !important;
}
.utilization-values {
  font-size: 12px;
}
#utilization-slider {
  width: 100%;
  -webkit-appearance: none;
  height: 7px;
  background: #efeaea;
  border-radius: 5px;
  background-image: linear-gradient(#4f52b2, #4f52b2);
  background-repeat: no-repeat;
}
#utilization-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #4f52b2;
  cursor: pointer;
  box-shadow: none;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
#utilization-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
#utilization-slider::-webkit-slider-thumb:active {
  box-shadow: #4f52b275 0px 0px 0px 4px;
  transition: 0.2s linear;
}
.slider-value {
  position: absolute;
  top: -30px;
  left: calc((100% / 100) * var(--value) - 10px);
  font-size: 12px;
  background-color: #007bff;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 2;
}