.fieldContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .3rem
}

.label {
    color: #223A72;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inputfield {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #29304D;
    font-size: .9rem;
    width: 20rem;
}

@media screen and (min-width: 1000px) and (max-width: 1050px) {
    .label {
        font-size: .6rem;
    }
    
    .inputfield {
        font-size: .7rem;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1999px) {
    .fieldContainer {
        gap: .5rem
    }
    
    .label {
        font-size: 1.5rem;
    }
    
    .inputfield {
        font-size: 1.7rem;
        width: 35rem;
    }
}

@media screen and (min-width: 2000px) and (max-width: 2600px) {
    .fieldContainer {
        gap: .6rem
    }
    
    .label {
        font-size: 1.7rem;
    }
    
    .inputfield {
        font-size: 2rem;
        width: 40rem;
    }
}